## pandas 연습 1
### 출처 : <do it pandas 입문> 1
## 데이터 집합 읽기, 데이터 추출(열 데이터 추출, loc 또는 iloc을 이용한 행 데이터 추출, 슬라이싱, range)

In [ ]:
# pandas : 데이터프레임과 시리즈라는 자료형과 데이터 분석을 위한 다양한 기능을 제공하는 파이썬 라이브러리
# DataFrame : Series들이 모인 것
# Series : 열 1개

# ()가 있는 건 method, ()가 없는 건 attribute
# jupyter notebook에서는 print를 안 쓰고 인자만 넣어도 자동으로 print되지만, 파이썬 코드에서 돌린다면 print() 해줘야 한다.

import pandas as pd

### 02-01 데이터 집합 불러오기

In [8]:
df = pd.read_csv('gapminder.tsv', sep='\t') # sep : 열 구분자 

## 위에서, gapmider.tsv는 열이 tab으로 구분되어 있기 때문에 '\t'를 쓴다. default는 ','이다.

In [9]:
print(df.head()) 
# head() : 데이터프레임에서 가장 앞에 있는 5개의 행을 출력. 
## 데이터프레임의 데이터를 확인하는 용도로 자주 사용

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
print(type(df))

# type() : 자료형 출력
# 위에서, df는 dataframe이기 때문에 DataFrame이라고 출력한다.

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(df.shape)

# shape : 데이터프레임이 가지고 있는 데이터의 행과 열의 크기에 대한 정보 반환. (행, 열)

(1704, 6)

In [12]:
print(df.columns)

# columns : 데이터프레임의 열 이름 확인.

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [17]:
print(df.dtypes)

# dtypes : 데이터프레임을 구성하는 각 열의 자료형을 알 수 있음

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [16]:
print(df.info())

# info() : 데이터프레임 column name, dtype, 크기 등 더 자세한 정보를 알기 위해 사용
# 보통 data 분석을 시작할 때, df.info()로 시작하는 것 같다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [ ]:
# 판다스와 파이썬 자료형 비교

# pandas : 문자열 자료형을 object라는 이름으로 인식
# python : 문자열 자료형을 string이라는 이름으로 인식

# pandas 자료형 - python 자료형 - 설명 (35쪽)
# object - string - 문자열
# int64 - int - 정수
# float64 - float - 소수점을 가진 숫자
# datetime64 - datetime - 파이썬 표준 라이브러리인 datetime이 반환하는 자료형

### 02-2 데이터 추출하기

### 1) 열 단위 데이터 추출

In [19]:
# 열 단위로 데이터 추출
country_df = df['country'] 
## p.s. 내가 잘못 알고 있었던 것 : head()가 column name 가져오는 게 아님. head() 안 쓰고 바로 ''로 column 접근 가능

print(type(country_df))

<class 'pandas.core.series.Series'>

In [20]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [21]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [22]:
subset = df[['country', 'continent', 'year']] # 열을 여러 개 추출하고 싶을 때
print(type(subset))

# 위에서, 2개 이상의 열을 추출했기 때문에 데이터프레임 반환

<class 'pandas.core.frame.DataFrame'>

In [23]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [24]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

### 2) 행 단위 데이터 추출

##### - loc

In [26]:
# loc : 인덱스를 기준으로 행 데이터 추출
# iloc : 행 번호를 기준으로 행 데이터 추출

# 인덱스 vs 행 번호
## 인덱스 : 보통 0부터 시작하며 행 데이터가 추가/삭제됨에 따라 변함. 숫자가 아니라 문자열도 사용 가능. 
## 행 번호 : 데이터의 순서를 따라가기 때문에 정수만으로 데이터 조회/추출 가능. 실제 데이터프레임에서는 확인할 수 없는 값

In [28]:
# loc : [] 안에 원하는 인덱스를 넣으면 해당 인덱스에 있는 행 데이터 추출

print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [29]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [32]:
print(df.loc[-1])  # -1이라는 인덱스는 없으므로 error

KeyError: 'the label [-1] is not in the [index]'

In [33]:
# 마지막 행 데이터 추출
## 방법 1) 마지막 행 데이터 인덱스 = shape[0] - 1

num_of_rows = df.shape[0]
last_row_index = num_of_rows - 1
print(df.loc[last_row_index])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [34]:
## 방법 2) tail()이 5개를 반환하니, parameter로 n=1을 전달
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [35]:
## 2개를 추출하고 싶다면 n=2를 넣음
print(df.tail(n=2))

       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [36]:
# 2개 이상의 행을 추출하고 싶다면, 리스트에 원하는 인덱스를 담아 loc[]에 넣으면 됨
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [37]:
# tail() vs loc : 둘이 반환하는 자료형이 다름
## tail() : DataFrame 반환
## loc : Series 반환

subset_loc = df.loc[0]
subset_tail = df.tail(n=1)

print(type(subset_loc))  # Series
print(type(subset_tail))  # DataFrame

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

##### - iloc

In [52]:
# iloc : 데이터 순서를 의미하는 행 번호를 사용해 데이터 추출

df.iloc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [51]:
df.iloc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [50]:
# -1을 넣으면 마지막 행 데이터 추출
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [42]:
# 없는 행 번호를 넣으면 에러 남
print(df.iloc[1710])

IndexError: single positional indexer is out-of-bounds

In [49]:
# 여러 개의 행을 한 번에 추출하는 방법
## 데이터의 행 번호를 리스트에 담는다.

df.iloc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

##### - loc, iloc with slicing

In [53]:
# loc / iloc + slicing
# df.loc[[row], [column]]
# df.iloc[[row], [column]]
## (주의) 열 지정 값을 형식에 맞게 전달해야 됨. loc : 문자열 리스트, iloc : 정수 리스트

subset = df.loc[:, ['year', 'pop', 'gdpPercap']]
subset.head()

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [54]:
subset = df.iloc[:, [2, 4, -1]]
subset.head()

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

##### - iloc with range()

In [55]:
# iloc + range() -> 잘 쓰이지는 않음
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [56]:
type(small_range)

list

In [57]:
subset = df.iloc[:, small_range]
subset.head()

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [58]:
small_range = list(range(3, 6))
print(small_range)

[3, 4, 5]

In [59]:
subset = df.iloc[:, small_range]
subset.head()

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [60]:
small_range = list(range(0, 6, 2)) # 0부터 5까지 2만큼 건너뛰는 제너레이터를 생성 -> 리스트에 담기
small_range

[0, 2, 4]

In [74]:
subset = df.iloc[:, small_range]
subset.head()

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

##### 슬라이싱 구문을 사용하자.

In [62]:
# 슬라이싱 구문 vs range 메서드
## 슬라이싱 구문을 더 선호. range 메서드가 반환한 제너레이터를 리스트로 변환하는 등의 과정을 거치지 않아도 되기 때문
## e.x) list(range(3)) == [:3]

subset = df.iloc[:, :3]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [63]:
subset = df.iloc[:, 0:6:2] # 0부터 5까지 간격 2로 열 추출
subset.head()

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [66]:
# ex) 0, 99, 999번째 행의 0, 3, 5번째 열 데이터 추출
df.iloc[[0, 99, 999], [0, 3, 5]]# 여러 열이 있을 경우 리스트에 담아 넣음

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

##### 추출한 열의 이름을 알기 위해 loc을 사용하자.

In [67]:
# 어떤 열을 추출한 건지 알기 위해 iloc보다 보통 loc 속성을 씀

df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [73]:
df.loc[10:13, ['country', 'lifeExp',' gdpPercap']]

        country  lifeExp   gdpPercap
10  Afghanistan   42.129         NaN
11  Afghanistan   43.828         NaN
12      Albania   55.230         NaN
13      Albania   59.280         NaN